### Makine Öğrenmesi

### İhtiyacımız olacak olan kütüphaneler

In [124]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sn
#import sys
#from sklearn.preprocessing import Imputer
#import numpy
#np.set_printoptions(threshold=sys.maxsize)
import warnings
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import roc_curve
#from sklearn.metrics import roc_auc_score
#from sklearn.metrics import confusion_matrix
# Sürümden kaynaklı hatalı göz ardı etmek için kullanıyoruz.
warnings.filterwarnings('ignore')


# Keras specific
import keras 
from keras.models import Sequential
from keras.layers import Dense
#from keras.utils import to_categorical

In [125]:


from IPython.display import display

#df=pd.read_csv('bank_marketing_dataset.csv')
df=pd.read_csv('bank_marketing_dataset.csv')


#print(df.shape)
#print(df.head(15))
#df.describe()

y = df["subscribed"].values.reshape(-1,1)  #sütun haline getirdik
#print(y)
x = df.drop(["subscribed","emp.var.rate","cons.conf.idx","contact","nr.employed","pdays"],axis=1)
#print(x.head(5))

#print(y.shape)
#print(type(y))

# verileri x input ve y output olarak ayırıyoruz
#output müşteri ve ya abone olma durumu
# çıkıtıyı istediğimiz formata alıyoruz.
for cikti in y:
    if cikti[0]=='no':
        cikti[0]=0
    else:
        cikti[0]=1
              

                
# string değerleri işleme alamayacağım için onlara kendim değer atadım 
for cikti in range(len(x['poutcome'].values)):
    if x['poutcome'].values[cikti]=='nonexistent':
         x['poutcome'].values[cikti]=2
    if df['poutcome'].values[cikti]=='success':
         x['poutcome'].values[cikti]=3
    if df['poutcome'].values[cikti]=='failure':    
         x['poutcome'].values[cikti]=1


                      
            
# (meslekler) string  değerleri işleme alamayacağım için onlara kendim değer atadım 
for cikti in range(len(x['job'].values)):
    if x['job'].values[cikti]=='admin.':
         x['job'].values[cikti]=13
    if x['job'].values[cikti]=='blue-collar':
         x['job'].values[cikti]=12
    if x['job'].values[cikti]=='entrepreneur':    
         x['job'].values[cikti]=11
    if x['job'].values[cikti]=='housemaid':    
         x['job'].values[cikti]=10      
    if x['job'].values[cikti]=='management':
         x['job'].values[cikti]=9
    if x['job'].values[cikti]=='retired':
         x['job'].values[cikti]=8
    if x['job'].values[cikti]=='self-employed':    
         x['job'].values[cikti]=7
    if x['job'].values[cikti]=='services':    
         x['job'].values[cikti]=6      
    if x['job'].values[cikti]=='student':
         x['job'].values[cikti]=5
    if x['job'].values[cikti]=='technician':
         x['job'].values[cikti]=4
    if x['job'].values[cikti]=='unknown':    
         x['job'].values[cikti]=3
    if x['job'].values[cikti]=='unemployed':    
         x['job'].values[cikti]=2
            
            
# string değerleri işleme alamayacağım için onlara kendim değer atadım 
for cikti in range(len(x['marital'].values)):
    if x['marital'].values[cikti]=='divorced':
         x['marital'].values[cikti]=2
    if x['marital'].values[cikti]=='married':
         x['marital'].values[cikti]=3
    if x['marital'].values[cikti]=='single':    
         x['marital'].values[cikti]=1
    if x['marital'].values[cikti]=='unknown':    
         x['marital'].values[cikti]=4

for cikti in range(len(x['month'].values)):
    if x['month'].values[cikti]=='jan':
         x['month'].values[cikti]=1
    if x['month'].values[cikti]=='feb':
         x['month'].values[cikti]=2
    if x['month'].values[cikti]=='mar':    
         x['month'].values[cikti]=3
    if x['month'].values[cikti]=='apr':    
         x['month'].values[cikti]=4            
    if x['month'].values[cikti]=='may':
         x['month'].values[cikti]=5
    if x['month'].values[cikti]=='jun':
         x['month'].values[cikti]=6
    if x['month'].values[cikti]=='jul':    
         x['month'].values[cikti]=7
    if x['month'].values[cikti]=='aug':    
         x['month'].values[cikti]=8           
    if x['month'].values[cikti]=='sep':
         x['month'].values[cikti]=9
    if x['month'].values[cikti]=='oct':
         x['month'].values[cikti]=10
    if x['month'].values[cikti]=='nov':    
         x['month'].values[cikti]=11
    if x['month'].values[cikti]=='dec':    
         x['month'].values[cikti]=12

for cikti in range(len(x['day_of_week'].values)):
    if x['day_of_week'].values[cikti]=='mon':
         x['day_of_week'].values[cikti]=1
    if x['day_of_week'].values[cikti]=='tue':
         x['day_of_week'].values[cikti]=2
    if x['day_of_week'].values[cikti]=='wed':    
         x['day_of_week'].values[cikti]=3
    if x['day_of_week'].values[cikti]=='thu':    
         x['day_of_week'].values[cikti]=4            
    if x['day_of_week'].values[cikti]=='fri':    
         x['day_of_week'].values[cikti]=5
            
            

for cikti in range(len(x['default'].values)):
    if x['default'].values[cikti]=='no':
         x['default'].values[cikti]=3
    if x['default'].values[cikti]=='yes':
         x['default'].values[cikti]=1
    if x['default'].values[cikti]=='unknown':    
         x['default'].values[cikti]=2

            
for cikti in range(len(x['housing'].values)):
    if x['housing'].values[cikti]=='no':
         x['housing'].values[cikti]=3
    if x['housing'].values[cikti]=='yes':
         x['housing'].values[cikti]=1
    if x['housing'].values[cikti]=='unknown':    
         x['housing'].values[cikti]=2
            

for cikti in range(len(x['loan'].values)):
    if x['loan'].values[cikti]=='no':
         x['loan'].values[cikti]=3
    if x['loan'].values[cikti]=='yes':
         x['loan'].values[cikti]=1
    if x['loan'].values[cikti]=='unknown':    
         x['loan'].values[cikti]=2

            
for cikti in range(len(x['education'].values)):
    if x['education'].values[cikti]=='basic.4y':
         x['education'].values[cikti]=3
    if x['education'].values[cikti]=='basic.6y':
         x['education'].values[cikti]=4
    if x['education'].values[cikti]=='basic.9y':    
         x['education'].values[cikti]=5
    if x['education'].values[cikti]=='high.school':
         x['education'].values[cikti]=6
    if x['education'].values[cikti]=='illiterate':
         x['education'].values[cikti]=1
    if x['education'].values[cikti]=='professional.course':    
         x['education'].values[cikti]=8   
    if x['education'].values[cikti]=='university.degree':
         x['education'].values[cikti]=9
    if x['education'].values[cikti]=='unknown':
         x['education'].values[cikti]=2

            
display(x)

       age job marital education default housing loan month day_of_week  duration  campaign  previous poutcome  cons.price.idx  euribor3m
0      56   10  3       3         3       3       3    5     1           261       1         0         2        93.994          4.857
1      57   6   3       6         2       3       3    5     1           149       1         0         2        93.994          4.857
2      37   6   3       6         3       1       3    5     1           226       1         0         2        93.994          4.857
3      40   13  3       4         3       3       3    5     1           151       1         0         2        93.994          4.857
4      56   6   3       6         3       3       1    5     1           307       1         0         2        93.994          4.857
...    ..  ..  ..      ..        ..      ..      ..   ..    ..           ...      ..        ..        ..           ...            ...
41183  73   8   3       8         3       1       3    11    5           334       1         0         2        94.767          1.028
41184  46   12  3       8         3       3       3    11    5           383       1         0         2        94.767          1.028
41185  56   8   3       9         3       1       3    11    5           189       2         0         2        94.767          1.028
41186  44   4   3       8         3       3       3    11    5           442       1         0         2        94.767          1.028
41187  74   8   3       8         3       1       3    11    5           239       3         1         1        94.767          1.028

[41188 rows x 15 columns]

In [102]:
print(x.shape)
print(y.shape)

(41188, 15)
(41188, 1)

## Dataların eğitim ve test olacak şekilde ayrılması

In [114]:

x = np.asarray(x).astype('float32')
#datayı eğitmek ve test için sklearn kutuphanesini kullanarak %80 train,%20 test olarak ayırıyoruz
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=42,shuffle=True)



# elde ettiğimiz verilerin transposunu alıyoruz
# backward ve predict işlemleri yaparken matrix hatasını gidermek için bunu yaptık, forward ı buna göre yeniledik 
x_train = X_train.T
y_train = Y_train.T
x_test = X_test.T
y_test = Y_test.T

In [115]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

print('/****************************/')

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(32950, 15)
(8238, 15)
(32950, 1)
(8238, 1)
/****************************/
(15, 32950)
(15, 8238)
(1, 32950)
(1, 8238)

In [116]:


model = Sequential()
model.add(Dense(500, activation='relu', input_dim=15))
#model.add(Dense(400, activation='relu'))
#model.add(Dense(300, activation='relu'))
model.add(Dense(300, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(1, activation='softmax'))

Y_train = np.asarray(Y_train).astype('float32')

# Compile the model
#model.compile(optimizer='adam',  loss='categorical_crossentropy',  metrics=['accuracy'])
from tensorflow import keras
import tensorflow as tf
learning_rate=0.02
opt=tf.keras.optimizers.Adam(learning_rate)
model.compile(loss = "categorical_crossentropy", optimizer = opt,metrics=['accuracy'])

#model.compile(loss="categorical_crossentropy", optimizer='adam', metrics=['accuracy'])
model.summary()

#[print(i.shape, i.dtype) for i in X_train]
#[print(o.shape, o.dtype) for o in Y_train]
#[print(l.name, l.input_shape, l.dtype) for l in model.layers]

Model: "sequential_30"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_154 (Dense)            (None, 500)               8000
_________________________________________________________________
dense_155 (Dense)            (None, 300)               150300
_________________________________________________________________
dense_156 (Dense)            (None, 50)                15050
_________________________________________________________________
dense_157 (Dense)            (None, 1)                 51
=================================================================
Total params: 173,401
Trainable params: 173,401
Non-trainable params: 0
_________________________________________________________________

In [117]:
history = model.fit(X_train, Y_train, epochs=5, batch_size=64)

Epoch 1/5
515/515 [==============================] - 2s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1124
Epoch 2/5
515/515 [==============================] - 2s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1124
Epoch 3/5
515/515 [==============================] - 2s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1124
Epoch 4/5
515/515 [==============================] - 2s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1124
Epoch 5/5
515/515 [==============================] - 2s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1124

In [108]:
y_pred = model.predict(X_test)
#Converting predictions to label
pred = list()
for i in range(len(y_pred)):
    pred.append(np.argmax(y_pred[i]))
#Converting one hot encoded test label to label
test = list()
for i in range(len(Y_test)):
    test.append(np.argmax(Y_test[i]))

In [109]:
from sklearn.metrics import accuracy_score
a = accuracy_score(pred,test)
display(a)
print('Accuracy is:', a*100)

1.0

Accuracy is: 100.0

In [97]:
X_test = np.asarray(X_test).astype('float32')
Y_test = np.asarray(Y_test).astype('float32')

history = model.fit(X_train, Y_train,validation_data = (X_test,Y_test), epochs=20, batch_size=64)

Epoch 1/20
515/515 [==============================] - 4s 7ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 2/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 3/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 4/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 5/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 6/20
515/515 [==============================] - 4s 7ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 7/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 8/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 9/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 10/20
515/515 [==============================] - 3s 7ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 11/20
515/515 [==============================] - 4s 7ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 12/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 13/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 14/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 15/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 16/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 17/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 18/20
515/515 [==============================] - 4s 7ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 19/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865
Epoch 20/20
515/515 [==============================] - 3s 6ms/step - loss: nan - accuracy: 0.8876 - val_loss: nan - val_accuracy: 0.8865

In [ ]:
import matplotlib.pyplot as plt
plt.plot(history.history['acc'])
plt.plot(history.history['val_acc'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

In [ ]:
plt.plot(history.history['loss']) plt.plot(history.history['val_loss']) 
plt.title('Model loss') 
plt.ylabel('Loss') 
plt.xlabel('Epoch') 
plt.legend(['Train', 'Test'], loc='upper left') 
plt.show()